.container{
    background-image: url(https://img1.wallspic.com/previews/2/7/8/5/5/155872/155872-github-logo-azure-aqua-turquoise-x750.jpg);
}
.describe{
    text-align: center;
    font-size: 25px;
    text-decoration: black;
}
.header{
    text-align: center;
    font-size: 50px;
}
.col-sm-2{
    text-align: center;
}
.img{
    text-align: center;
}